---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="AI tools">
	<main>
		<Aside currentRoute="/categories/ai"/>
		<MainContent page="ai"/>
	</main>
</Layout>