---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Animations tools">
	<main>
		<Aside currentRoute="/categories/animations"/>
		<MainContent page="animations"/>
	</main>
</Layout>