---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Apis tools">
	<main>
		<Aside currentRoute="/categories/apis"/>
		<MainContent page="apis"/>
	</main>
</Layout>