---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Code editors tools">
	<main>
		<Aside currentRoute="/categories/code-editors"/>
		<MainContent page="code-editors"/>
	</main>
</Layout>