---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Components UI tools">
	<main>
		<Aside currentRoute="/categories/components-ui"/>
		<MainContent page="components-ui"/>
	</main>
</Layout>