---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Databases tools">
	<main>
		<Aside currentRoute="/categories/databases"/>
		<MainContent page="databases"/>
	</main>
</Layout>