---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Icons tools">
	<main>
		<Aside currentRoute="/categories/icons"/>
		<MainContent page="icons"/>
	</main>
</Layout>