---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="IDEs tools">
	<main>
		<Aside currentRoute="/categories/ides"/>
		<MainContent page="ides"/>
	</main>
</Layout>