---
import Aside from '../../components/Aside.astro';
import Layout from '../../layouts/Layout.astro';
import MainContent from '../../components/MainContent.astro';
---

<Layout title="Website monitor tools">
	<main>
		<Aside currentRoute="/categories/web-monitor"/>
		<MainContent page="web-monitor"/>
	</main>
</Layout>