---
import Aside from '../components/Aside.astro';
import MainContent from '../components/MainContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Devtoolskit">
	<main>
		<Aside currentRoute="/"/>
		<MainContent page="index"/>
	</main>
</Layout>
